<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Flask-WTForms CSRF protection Token -->
    <meta name="csrf-token" content="(( csrf_token() ))">
    <title>Title</title>


    <link rel="stylesheet" href="(( url_for('static', filename='lib/bootstrap/bootstrap.css') ))">
    <link rel="stylesheet" href="(( url_for('static', filename='lib/tui/tui-grid.css') ))">
	<script src="(( url_for('static', filename='lib/jquery/jquery.js') ))"></script>
    <script src="(( url_for('static', filename='lib/bootstrap/bootstrap.js') ))"></script>
    <script src="(( url_for('static', filename='lib/tui/tui-grid.js') ))"></script>
    <script src="(( url_for('static', filename='js/common.js') ))"></script>
    <script src="(( url_for('static', filename='js/index.js') ))"></script>
    <!--<script src="(( url_for('static', filename='js/import/vue.js') ))"></script>
    <script src="(( url_for('static', filename='js/import/axios.js') ))"></script>-->

</head>

<body>
    <div class="container">
        <h2>Happy Asset Investment 주식 분석 시스템</h2><span>v0.1</span>
        <a href="/stock_list">일반종목검색</a>
    </div>

</body>
</html>