<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Flask-WTForms CSRF protection Token -->
    <meta name="csrf-token" content="(( csrf_token() ))">
    <title>Title</title>


    <link rel="stylesheet" href="(( url_for('static', filename='css/bootstrap.css') ))">
    <link rel="stylesheet" href="(( url_for('static', filename='css/tui-grid.css') ))">
	<script src="(( url_for('static', filename='js/import/jquery.js') ))"></script>
    <script src="(( url_for('static', filename='js/import/bootstrap.js') ))"></script>
    <script src="(( url_for('static', filename='js/import/tui-grid.js') ))"></script>
    <script src="(( url_for('static', filename='js/common.js') ))"></script>
    <script src="(( url_for('static', filename='js/index.js') ))"></script>
    <!--<script src="(( url_for('static', filename='js/import/vue.js') ))"></script>
    <script src="(( url_for('static', filename='js/import/axios.js') ))"></script>-->

</head>

<body>
    <div class="container">
      <div class="row">
        <input type="text" id="search_box" class="form-control col-sm-6">
        <button class="btn-primary col-sm-2" id="btn_search">검색</button>
        <input type="checkbox" />
      </div>
    </div>
    <div class="container">
      <div id="grid">
      </div>
    </div>

</body>
</html>