<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

	<link rel="stylesheet" href="(( url_for('static', filename='css/bootstrap.css') ))">
	<script src="(( url_for('static', filename='js/common/jquery.js') ))"></script>
    <script src="(( url_for('static', filename='js/common/bootstrap.js') ))"></script>
</head>
<body>
	
	<h4 class="text-center">Happy Asset</h4>
	<div class="container col-sm-8"> 
		<div class="text-center">
			<hr>	
				<h3 class="text-center col-sm-12">로그인</h3>	
			<hr>
		</div>	
		<form class="jumbotron" action="/try_login" method="post">
		   	<input type="hidden" name="csrf_token" value="(( csrf_token() ))" />
			<div class="col-sm-12">
				<input type="text" class="form-control" name="user_id" placeholder="ID">
				<input type="password" class="form-control mt-3" name="password" placeholder="Password">
			</div>
			<div class="text-center col-sm-12 mt-3">
				<button type="submit" class="btn btn-primary col-sm-12">Log-in</button>
			</div>
		</form>
	</div>
</body>
</html>